body{
  height: 100vh;
  width: 100%;
}
.flex-c{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 84.5vh;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(43, 43, 59);
  padding: 25px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

input{
  height: 40px;
  width: 300px;
  display: block;
  margin: 5px 0;
  border-radius: 5px;
  border-color: rgb(43, 43, 59);
  padding: 0px 15px;
}

.darkbtn{
  height: 40px;
  width: 100px;
  border-radius: 5px;
  background-color: rgb(43, 43, 59);
  border-color: white;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}

.darkbtn:hover{
  background-color: white;
  color: rgb(43, 43, 59);
}

.lightbtn{
  height: 40px;
  width: 100px;
  border-radius: 5px;
  background-color: white;
  color: rgb(43, 43, 59);
  cursor: pointer;
  transition: all 0.5s;
}

.lightbtn:hover{
  background-color: rgb(43, 43, 59);
  color: white;
  border-color: white;
}

.line{
  width: 100%;
  background-color: rgb(43, 43, 59);
}

.title{
  font-size: 60px;
  color: rgb(43, 43, 59);
}

.flex-c img{
  height: 600px;
  position: relative;
  left: 70px;
}

.nav{
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  background-color: white;
}

.nav .header{
  font-size: 40px;
  font-weight: bold;
}

.footer{
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  margin-top: 20px;
  align-items: center;
  background-color: rgb(43, 43, 59);
  color: white;
}

.footer .header{
  font-size: 20px;
}


.tags ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tags ul li a{
  margin: 0 20px;
  background-color: rgb(43, 43, 59);;
  transition: all 0.5s;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100px;
}

.tags ul li a:hover, .tags ul li a.active{
  background-color: white;
  color: rgb(43, 43, 59);
  border-radius: 5px;
  border: 1px solid rgb(43, 43, 59);
}

.tags ul li a{
  text-decoration: none;
  color: white;
}

.profile{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(43, 43, 59);
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-weight: bold;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}

.sport-card{
  height: 200px;
  width: 180px;
  background-color: white;
  border: 2px solid rgb(43, 43, 59);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  position: relative;
  margin: 10px;
}

.sport-card:hover{
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.6)  ;
}

.sport-card span{
  position: absolute;
  top: 5px;
  right: 8px;
  border-radius: 50%;
  background-color: rgb(43, 43, 59);
  height: 20px;
  width: 20px;
  color: white;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.grid{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  padding: 20px;
}

.sbtn{
  position: absolute;
  bottom: 15px;
  width: fit-content;
  padding: 0 15px;
}

.d-pad{
  padding: 0 100px;
}

.sbtw{
  justify-content: space-between;
}

.fitbtn{
  width: fit-content;
  padding: 0 15px;
}

.input-width{
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.col{
  flex-direction: column;
  grid-template-columns: repeat(4, 1fr);
}

.col1{
  flex-direction: column;
}

.card2{
  height: 350px;
  width: 300px;
  flex-direction: column;
}

.flex2{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}