body{
    height: 100vh;
    font-family: Arial;
}

.container{
    display: flex;
    gap: 10px;
    transition: all 0.3s ease;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
}



h1{
    text-align: center;
}


.task-container input, .task-container button{
    padding: 10px;
    width: 200px;
    border: 1px solid rgb(233, 160, 50);
    border-radius: 5px;
    font-size: 1rem;
}



.task-container input:focus{
    border: 1px solid #659ee0;
    outline: 2px solid #659ee0;
}


.task-container button{
    width: 100px;
    background-color: #08582597;
    cursor: pointer;
    color: rgb(23, 5, 5);
    border-color: #08582597;
    transition: all 0.3s ease;
}

.container:hover{
    background-color: rgb(58, 158, 191);
    cursor: pointer;
}

.task-container{
    display: flex;
    gap: 10px;
}


.buttons{
    position: relative;
}

.buttons p{
    margin: 20px 0;
    line-height: 40px;
}

.task-container button:hover{
    background-color: #6816ab;
    color: aliceblue;
}


.list{
    position: relative;
}

span{
    font-size: 18px;
    display: block;
    position: absolute;
    top: 0;
    left: 200px;
    background: rgb(161, 111, 111);
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerdiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-trash{
    color: rgb(149, 20, 20);
    cursor: pointer;
}


.card input{
    padding: 10px;
    height: 20px;
    width: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 1rem;
}

.card{
    font-size: 20px;
}


.container #icon{
   opacity: 0;
   transition: all 0.3s ease;
}

.container:hover  #icon{
    opacity: 1;
}

.column{
    flex-direction: column;
}

.task-container label{
    color: #17A34A;
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    height: 20px;
    width: 100px;
}

.green{
    color:#17A34A;
    padding-left: 10px;
}

.right-btn{
    margin: 10px 0;
    align-self: center;
}

li{
    list-style: none;
    color: red;
    text-align: center;
    padding-bottom: 10px;
}

.width-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}